html, body{
    margin: 0;
}

body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    color: #fff;
    margin: 0;
    font-size: 28pt;
    background-color: #5200EE;
    padding: 15px;
    margin-bottom: 15px;
}

h2 {
    color: #03dac6;
    font-size: 24pt;
}

h3 {
    color: #3700b3;
    font-size: 18pt;
}

h4 {
    color: #03dac6;
    font-size: 14pt;
}

p {
    color: #000;
    font-size: 17px;
}

hr{
    height: 4px;
    background-color: #000;
}

.container {
    margin: 25px;
}

.flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: 17px;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    background-color: #3700b3;
    padding: 10px;
    margin: 10px;
}

a:hover {
    background-color: #5200EE;
    cursor: pointer;
}

.light {
    background-color: #00b3b3;
}

.light:hover {
    background-color: #03dac6;
    cursor: pointer;
}

.dark {
    background-color: #333;
}

.dark:hover {
    background-color: #555;
    cursor: pointer;
}

.whatever {
    background-color: #c56274;
}

.whatever:hover {
    background-color: #e67388;
    cursor: pointer;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
}
  
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
table tr:nth-child(even){background-color: #03dac6;}
  
table tr:hover {background-color: #ddd;}
  
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5200EE;
    color: white;
}